@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;500&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    --img-width: 45%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* NAVIGATION */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin-bottom: 5%;
    margin-top: 1%;
}

#page-name {
    font-size: 2.5em;
    font-weight: 600;


}

.navigation .nav-items {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    font-size: min(2vw, 1em);

}

.navigation .nav-items>* {


    margin-left: 5%;
}

.nav-items div {
    font-size: 1.5em;
    cursor: pointer;
}

.story {

    display: flex;
    flex-direction: column;
    width: 100%;
}

/* BOX-1 */
.story .box-1 {
    width: 100%;
    margin-bottom: 42px;
    margin-left: 10%;
}

.story .box-1>* {
    margin-bottom: 10px;
}

.story .box-1 #emotion {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: #2D9CDB;

}

.story .box-1 #first {
    /* change the color to blue*/
    font-style: normal;
    width: 11.3em;
    height: 3em;

    font-style: normal;
    font-size: calc(18px + 1.5vw);

}

/* BOX-2 */
.story .box-2 {
    font-family: Poppins;
    font-size: 48px;
    margin-left: 10%;
    width: 7.5em;
}

.box-2 #second {
    margin-top: 1em;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0em;
    text-align: left;


}

.story .box-2 p {
    margin-top: 2.34em;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;

}


.story img {
    margin-bottom: 2%;
    margin-top: 2%;
}


.contact-box {
    height: 87px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 3em;
    color: #828282;

}

.contact-box .input-container {
    display: flex;
    width: 95%;
    height: 57px;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 12px;
    border: 1px solid #dad9d9;

    padding: 0px 1px 1px 1px;
    margin-top: 10px;

}


.contact-box .input-container .input-field {
    width: 50px;
    height: 27px;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 8px;
    font-size: 18px;
    padding: 0 21px;
}

.contact-box .input-container .input-field::placeholder {
    font-size: 18px;
}

.contact-box .input-container .input-button {
    width: 94px;
    height: 49px;
    margin: 4px;
    background-color: #2ab8e3;
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 12px;
    cursor: pointer;
}

/* BOX-3 */




#text-1 {

    width: 346px;
    height: 108px;
    margin-top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

}

#text-2 {

    height: 108px;
    width: 448px;
    margin-top: 194px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

}

.tile-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 42px;


}

.tile-container .tile {
    box-sizing: border-box;
    width: 341px;
    height: 422px;
    border-radius: 30px;
    background-color: #2D9CDB;
    background: #FFFFFF;

    border-radius: 24px;
    margin: 5px;
}

.tile-container .tile:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    cursor: pointer;
}

.tile h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    width: fit-content;
    margin: 0 auto;
    margin: 46px 0 0 34px;
}

.tile p {
    width: 80%;

    margin: 0 auto;
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.tile button {
    margin-left: 200px;
}

#blue {
    background-color: #2d9cdb;
}

#green {
    background-color: #27ae60;
}

#pink {
    background-color: #eb5757;
}

.div-icons {
    width: 67px;
    height: 67px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 46px 0 0 34px;
    color: #ffffff;
}

.box-4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

}


.box-4 .tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: var(--img-width);


}

.box-4 .tile h3 {
    justify-self: flex-end;
}

.box-4 .tile:nth-child(odd) {
    margin-top: 150px;
}

.box-4 .tile h3 {
    margin-top: 120px;
    align-self: flex-end;
}

.box-4 .tile img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;


}

.box-4 .tile h1 {
    margin: 0;
}

.box-5 {
    margin-top: 219px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}


.box-5 .team {
    width: fit-content;
    flex-grow: 1;
}

.box-5 .text {
    width: 18em;
    height: 14em;
    font-size: 16px;

}

.box-5 .girl {
    margin-right: 10px;
}

.box-5 .girl img {

    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}



.box-5 .team h1 {

    height: fit-content;
    font-family: Poppins;
    font-weight: 500;
    /* line-height: 54px; */
    letter-spacing: 0em;
    text-align: left;
}

.box-5>* {
    width: calc(100%/3 - 100px);
}


.box-5 .team p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
}

.box-5 .boys {

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}



.box-5 .boys img {
    width: 100%;
    height: 100%;
}


.box-6 {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 36px;
    margin-top: 196px;
}

.sub-box-6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 162px;
    font-size: 18px;
    color: #828282;

}

.sub-box-6 img {
    height: 60px;
    margin-right: 4%;

}

.sub-box-6 h2 {
    color: #333333;

}

footer {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    background-color: rgb(4, 0, 18);
    height: 385px;
    margin-top: 10%;
}

footer .nav-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
}

footer .footer-edie {
    margin-top: 100px;
}

footer .input-container {
    margin-top: 100px;
}


footer .input-container {
    display: flex;
    width: 20%;
    height: 57px;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 12px;
    border: 1px solid #dad9d9;

    padding: 0px 1px 1px 1px;
    margin-top: 100px;

}


footer .input-container .input-field {
    width: 50px;
    height: 27px;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 8px;
    font-size: 18px;
    padding: 0 21px;
}

footer .input-container .input-field::placeholder {
    font-size: 18px;
}

.input-button {
    width: 94px;
    height: 49px;
    margin: 4px;
    background-color: #2ab8e3;
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 12px;
    cursor: pointer;
}

.input-button:hover {
    background-color: rgb(2, 97, 134);
}


@media (max-width: 1150px) {

    .box-4 .tile:nth-child(odd) {
        margin-top: 100px;
    }

    .box-4 .tile {
        margin-top: 100px;
        width: 100%;
    }

    .box-5 .team {
        width: 100%;
    }

    .box-5 .text {

        width: 15.5em;
        height: 19em;
        font-size: calc(2*90%);
        margin: 0 auto;
    }

    .box-5>* {
        width: calc(100%/2 - 10px);
    }

    .story .box-2 {
        font-family: Poppins;
        font-size: 38px;
        margin-left: 10%;
        width: 10em;
    }

}

@media (max-width: 550px) {
    .navigation {
        height: fit-content;
        flex-direction: column;
    }

    .navigation>.nav-items {
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }

    .box-1>#emotion {
        font-size: 10px;
    }

    .story .box-2 {
        font-family: Poppins;
        font-size: 25px;
        margin-left: 10%;
        width: 10em;
    }

    .box-5 .text {
        width: 18em;
        height: 14em;
        font-size: 13px;

    }

    .box-5 .team h1 {

        height: fit-content;
        font-family: Poppins;
        font-weight: 500;
        /* line-height: 54px; */
        letter-spacing: 0em;
        text-align: left;
    }

    .tile-container {
        margin-left: 0;
        margin-right: 0;
    }

    #text-2 {
        height: 108px;
        width: 348px;
        margin-top: 194px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 44px;
    }

    footer {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
        row-gap: 20px;
        font-size: 2em;
    }

    .nav-list>* {
        font-size: 20px;
    }

    footer>.input-container {
        margin-top: 0;
        width: 70%;
        margin-bottom: 100px;
    }

    footer>.footer-edie {
        margin-top: 0;
    }
}